---
import Landing1 from 'src/components/Landing1.astro'
import Landing2 from 'src/components/Landing2.astro'
import Landing3 from 'src/components/Landing3.astro'
import Landing4 from 'src/components/Landing4.astro'


const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Do not know what this is. Probably visible in source code.";

---


<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Landing Pages</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />




    <nav class=" gap-9 p-2 border font-bold flex justify-center"> 
        <a href="/" class=" hover:text-purple-700"> Home </a>
        <a href="" class=" hover:text-purple-700"> Landing Pages </a>
    </nav>

<button id="firstButton" class="mt-10 mb-5 ml-5 border border-black px-5 hover:bg-gray-200">HIDE/SHOW</button>
First landing page
<div class="firstComponent" style="">
  <Landing1 />
</div>


<br/> <button id="secondButton" class="mt-10 mb-5 ml-5 border border-black px-5 hover:bg-gray-200">HIDE/SHOW</button>
Second landing page
<div class="secondComponent mb-40" style="">
  <Landing2 />
</div>


<br/> <button id="thirdButton" class="mt-10 mb-5 ml-5 border border-black px-5 hover:bg-gray-200">HIDE/SHOW</button>
Third landing page
<div class="thirdComponent mb-40" style="">
  <Landing3 />
</div>


<br/> <button id="fourthButton" class="mt-10 mb-5 ml-5 border border-black px-5 hover:bg-gray-200">HIDE/SHOW</button>
Fourth landing page
<div class="fourthComponent mb-40" style="">
  <Landing4 />
</div>
 









<script>
  // Get the button and the element to toggle
  const toggleButton = document.getElementById('firstButton') as HTMLElement;
  const firstComponent = document.querySelector('.firstComponent') as HTMLElement;

  // Define a function to handle the click event
  function toggleComponent() {
    if (firstComponent.style.display === 'none') {
      firstComponent.style.display = 'block'; // Show the component
      toggleButton.style.backgroundColor = '';
    } else {
      firstComponent.style.display = 'none'; // Hide the component
      toggleButton.style.backgroundColor = 'grey'; // Button color change
    }
  }

  // Attach the click event to the button
  toggleButton.addEventListener('click', toggleComponent);


  // SECOND BUTTON




const toggleButton2 = document.getElementById('secondButton') as HTMLElement;
const firstComponent2 = document.querySelector('.secondComponent') as HTMLElement;


// Define a function to handle the click event
function toggleComponent2() {
  if (firstComponent2?.style.display === 'none') {
    firstComponent2.style.display = 'block'; // Show the component
    toggleButton2.style.backgroundColor = '';
  } else {
    firstComponent2.style.display = 'none'; // Hide the component
    toggleButton2.style.backgroundColor = 'grey'; // Hide the component
  }
}


// Attach the click event to the button
toggleButton2.addEventListener('click', toggleComponent2);



// third BUTTON




const toggleButton3 = document.getElementById('thirdButton') as HTMLElement;
const firstComponent3 = document.querySelector('.thirdComponent') as HTMLElement;


// Define a function to handle the click event
function toggleComponent3() {
  if (firstComponent3?.style.display === 'none') {
    firstComponent3.style.display = 'block'; // Show the component
    toggleButton3.style.backgroundColor = '';
  } else {
    firstComponent3.style.display = 'none'; // Hide the component
    toggleButton3.style.backgroundColor = 'grey'; // Hide the component
  }
}


// Attach the click event to the button
toggleButton3.addEventListener('click', toggleComponent3);




// fourth BUTTON




const toggleButton4 = document.getElementById('fourthButton') as HTMLElement;
const firstComponent4 = document.querySelector('.fourthComponent') as HTMLElement;


// Define a function to handle the click event
function toggleComponent4() {
  if (firstComponent4?.style.display === 'none') {
    firstComponent4.style.display = 'block'; // Show the component
    toggleButton4.style.backgroundColor = '';
  } else {
    firstComponent4.style.display = 'none'; // Hide the component
    toggleButton4.style.backgroundColor = 'grey'; // Hide the component
  }
}


// Attach the click event to the button
toggleButton4.addEventListener('click', toggleComponent4);




</script>

 

<style>
:root {
    --color-bg: 255 255 255;
    --color-border: 255 255 255;
    --color-box: 255 255 255;
    --box-border: 229 231 235;
    --box-sd: 226 232 240 / 0.5;
	--heading-1:  23 37 84;
	--heading-2: 31 41 55;
	--heading-3: 55 65 81;
  }

  .dark {
    --color-bg: 3 7 18;
    --color-box: 17 24 39;
    --box-border: 243 244 246/0.1;
    --box-sd: transparent;

	
	--heading-1:  255 255 255;
	--heading-2:  243 244 246;
	--heading-3:  209 213 219;
  }

  html{
    scroll-behavior: smooth;
  }
  body {
    font-family: "Raleway", sans-serif;
  }

  [data-toggle-nav][data-open-nav="true"] #line1 {
    transform: translateY(0.375rem) rotate(40deg);
  }
  [data-toggle-nav][data-open-nav="true"] #line2 {
    transform: scaleX(0);
    opacity: 0;
  }
  [data-toggle-nav][data-open-nav="true"] #line3 {
    transform: translateY(-0.375rem) rotate(-40deg);
  }

  
  [data-nav-overlay][data-is-visible="true"] {
    visibility: visible;
    display: flex;
  }

</style>