---
import data from 'src/data/showcase/data.json'


---

<div class="backgr hidden sm:block "> 
	<div class=" grid grid-cols-12">
                
                <div class=" col-span-1">  </div>
                <div class=" col-span-6">  
			<div class=" mt-44 font-serif">
				<h2 class=" ml-20 flex  headlineX text-7xl"> <div class=" text-white font-sans "> {data.Landing1.Headline} {data.Landing1.ColoredHeadline} </div>  </h2>
				

        
				<div class=" mt-44 ml-20 text-white text-3xl font-sans"> {data.Landing1.date} //needs responsive classes </div>
                <div class=" mt-5 pb-20 ml-20 text-white text-3xl font-sans"> {data.Landing1.address} </div>
            </div>	  </div>
              <div class=" mt-48 col-span-5 ">
				 <div class=" mt-96 ml-10 text-white p-10"> <button class=" px-20 text-xl py-3 border-2 border-white rounded-xl "> {data.Buttons.b0} </button> </div>
	
                </div>
    </div>	
   


</div>



    <style>
      
        h2 {
          font-size: 4.2rem;
          font-weight: 800;
          margin: 0;
        }
       
    
        .headlineX {
    
          background-size: 400%;
          background-position: 0%;
        }
    
        .text-gradient2 {
          background-image: var(--accent-gradient2);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 400%;
          background-position: 0%;
        }
        .instructions {
          line-height: 1.6;
          margin: 1rem 0;
          border: 1px solid rgba(var(--accent), 25%);
          background-color: white;
          padding: 1rem;
          border-radius: 0.4rem;
        }
        .instructions code {
          font-size: 0.875em;
          font-weight: bold;
          background: rgba(var(--accent), 12%);
          color: rgb(var(--accent));
          border-radius: 4px;
          padding: 0.3em 0.45em;
        }
        .instructions strong {
          color: rgb(var(--accent));
        }
        .link-card-grid {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
          gap: 1rem;
          padding: 0;
        }
        
        .backgr {
            font-family: system-ui, sans-serif;
            background-color: #161515;
        }
    
      </style>



