---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";

import data from 'src/data/showcase/data.json'

const Headline = "Intro component"

const bottomText = ""

const button1 = "Read the docs"

const button2 = "Try it out"
---

<ContentSection title={data.Landing1.ColoredHeadline} id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    {data.Components.subtext}
    <span class="text-primary"> {data.Landing1.ColoredHeadline}</span>
    {data.Landing1.Paragr1}
    <span class="text-primary"> {data.Landing1.Button1}</span> {data.Landing1.Headline}
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>{data.Buttons.b0}</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>{data.Buttons.b1}</span>
    </a>
  </div>
  <div class=" border-b-2 border-black px-20 md:px-96 pb-10 ">  </div>
</ContentSection>
